@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SF-Pro-Text-Light'; /* Replace with your font name */
    src: url('../public/fonts/SF-Pro-Text-Light.otf') format('woff2');         
    font-weight: normal; /* Adjust as necessary */
    font-style: normal;  /* Adjust as necessary */
  }
  @font-face {
    font-family: 'SF-Pro-Text-Regular'; /* Replace with your font name */
    src: url('../public/fonts/SF-Pro-Text-Regular.otf') format('woff');
    font-weight: normal; /* Adjust as necessary */
    font-style: normal;  /* Adjust as necessary */
  }
  @font-face {
    font-family: 'SF-Pro-Text-Ultralight'; /* Replace with your font name */
    src: url('../public/fonts/SF-Pro-Text-Ultralight.otf') format('woff');
    font-weight: normal; /* Adjust as necessary */
    font-style: normal;  /* Adjust as necessary */
  }
  @font-face {
    font-family: 'SFPRODISPLAYBOLD'; /* Replace with your font name */
    src: url('../public/fonts/SF-Pro-Display/SFPRODISPLAYBOLD.OTF') format('woff');
    font-weight: normal; /* Adjust as necessary */
    font-style: normal;  /* Adjust as necessary */
  }
  @font-face {
    font-family: 'SFPRODISPLAYMEDIUM'; /* Replace with your font name */
    src: url('../public/fonts/SF-Pro-Display/SFPRODISPLAYMEDIUM.OTF') format('woff');
    font-weight: normal; /* Adjust as necessary */
    font-style: normal;  /* Adjust as necessary */
  }
  @font-face {
    font-family: 'SFPRODISPLAYREGULAR'; /* Replace with your font name */
    src: url('../public/fonts/SF-Pro-Display/SFPRODISPLAYREGULAR.OTF') format('woff');
    font-weight: normal; /* Adjust as necessary */
    font-style: normal;  /* Adjust as necessary */
  }
  @font-face {
    font-family: 'SF-Pro-Icons-Regular';
    src: url('../public/fonts/SF-Pro-Icons-Regular/SF-Pro-Icons-Regular.woff');
  }
.watchImage{    
    height: 100vh;
    background-image: url('./Components/assets/apple-watch.jpg');
    background-size: cover;
    background-position: center;    
  }

.blur{
    background: rgba(0, 0, 0, .4);
    backdrop-filter: blur(20px);
}
.slick-slide{
  display: block !important;
}
.slick-slide > div {
  display: flex;
  justify-content: center;  
}

.slick-list {
  overflow: visible; 
}